@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Mogra&display=swap');

.background {
  background: url('images/hero.png') no-repeat center center/cover;
  height: 100vh;
  display: flex;  
  padding-top: 60px;
}
.small-image {
  display: none; 
}

.container p {
  padding-left:5%;
  padding-right:5%;
}
.container ul{
  padding-left:10%;
  padding-right:10%;
}
.contact{
  display: flex;
  align-items: center;
}
.contact-info{
  display: flex;
  align-items: center;
  padding: 10px 15px;
  font-size: 25px;
}
.contact-info span{
  padding-left: 8px;
}


.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  background: #ffffff;
}

.logo {
  height: 220px; 
  position:absolute;
  top: 10px;
  margin-left: 40px;
}
.phone-link {
  text-decoration: none; 
  color: black;
}



@media (max-width: 1220px) {
  .header{
    padding:15px;
  }
  .logo {
    height: 140px; 
    margin-left: 20px;
    top: 28px;
  }
  /* .contact{
    display:revert;
  } */
  .contact-info{
    display: flex;
  }
}


@media (max-width: 768px) {

  .header{
    padding: 0px;
  }
  .logo {
    height: 100px; 
    margin: 0; 
    left:12px;
    top:50px;
  }
  .contact{
    display:revert;
  }
  .contact-info{
    display: flex;
    font-size: 15px;
  }
  .icon{
    height:20px !important;
    width:20px !important;
  }

}

@media (max-width: 480px) {
  .header {
    padding: 0px; 
  }
  .background {
    height:90vh;
    background-image: none; 
    background-color:#e3ffff;
  }

  .small-image {
    display: block; /* Show the small image */
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: fit-content;
    border-radius: 10px; 
  }
  .logo {
    height: 80px; 
    left:10px;
    top:22px;
  }
  .contact-info{
    display: flex;
    font-size: 10px;
    padding:5px;
  }
  .icon{
    height:15px !important;
    width:15px !important;
  }
  .contact{
    display:revert;
  }


}
.text{
  margin-left:-20px;
}

.text h1 {
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 20px;
  padding-left:38px;
  font-family: "DynaPuff", serif;
  margin-top: 22%;
}

.text p {
  font-size: 2.0rem;
  max-width: 650px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .text h1 {
    font-size: 2.5rem; 
  }

  .text p {
    font-size: 1.8rem; 
  }
  p{
    font-size: 1.8px;
  }
}

@media (max-width: 480px) {
  .text h1 {
    font-size: 2rem;
    padding-left:0px; 
  }

  .text p {
    font-size: 1.0rem; 
    text-align: center;
  }
  .text{
    margin-left:0px;
  }
  
}

/*  who we are */

.who-we-are {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fdf9fb;
  position: relative;
  margin-top:20px;
}

.who-we-are .content {
  flex: 1;
  padding-right: 20px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

.who-we-are h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: "DynaPuff", serif;
}

.who-we-are p {
  font-size: 2rem;
  margin-left: 40px;
  margin-right:50px;
}

.who-we-are .cat-image {
  max-width: 300px;
  height: auto;
  position: absolute;
  right: 20px;
  bottom: -200px;
}

/* Tablet View (768px and below) */
@media (max-width: 768px) {
  .who-we-are {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  .who-we-are .content {
    padding: 20px;
    
  }

  .who-we-are h1 {
    font-size: 2.5rem;
  }

  .who-we-are p {
    font-size: 1.4rem;
    margin-left: 40px;
    margin-right:0px;
   
  }

  .who-we-are .cat-image {
    position: static;
    max-width: 200px;
    margin: 20px auto 0;
  }
}

/* Mobile View (480px and below) */
@media (max-width: 480px) {
  .who-we-are {
    padding: 10px;
  }

  .who-we-are h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .who-we-are .content p {
    font-size: 1.0rem;
    margin-left:0px
  }

  .who-we-are .cat-image {
    max-width: 150px;
    margin-top: 10px;
  }
}

/* Services section */
.services {
  padding: 20px;
  background-color: #e6f5f9;
  margin-top:20px;
  
}
.servi {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

.servi h2 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: "DynaPuff", serif;
}

.services p {
  font-size: 2rem;
  margin-bottom: 15px;
  margin-left: 40px;
}

.services .highlight {
  font-weight: bold;
  color: #0077b6;
}

/* Responsiveness for smaller screens */
@media (max-width: 768px) {
 

  .servi h2 {
      font-size: 2.0rem;
  }

  .servi p {
      font-size: 1.4rem;
      margin-left: 0px;
  }
}
@media (max-width: 480px) {
  .servi h2 {
      font-size: 1.5rem;
  }

  .servi p {
      font-size: 1rem;
  }
  .aquamation{
    margin-left: 0px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.aquamation {
  margin: 0 auto;
  padding:40px;
  padding-left:50px;
  margin-top:20px;
  background: #fdfdf0;
}

.section {
  padding:20px;
  margin-left:80px;
  margin-right:70px;
  max-width: 1100px;
  margin: 0 auto;
}

h2 {
  font-family: "DynaPuff", serif;
  font-size: 3.5em;
  color: #000;
  margin-bottom: 10px;
}

.aquamation p {
  line-height: 1.6;
  color: #333;
}

.aquamation .ul {
  font-size: 2.8rem;
  line-height: 1.4 ;
  color: #333;
  padding-left: 50px
}
.aquamation .section p {
  font-size: 1.8rem;
}
.aquamation .section .xyz{
  margin-left: 40px;
}

li {
  margin-bottom: 10px;
}
.list {
  font-size: 1.8em;
  line-height: 1.4 ;
  color: #333;
  padding-left: 50px;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .aquamation .section p {
    font-size: 1.0rem;
  }
  h2{
    font-size:2.0em !important;
  }
  .section {
    padding:20px;
    margin-left:0px;
    margin-right:0px;
  }
  .aquamation .section .xyz{
    margin-left: 0px;
  }

  }
  @media (max-width: 768px) {
    .aquamation ul {
      font-size: 1.0rem;
    }
  }

hr {
  margin-top: 40px;
  border: none;
  border-top: 3px solid #989797;
}

/* why choose paws in heaven */

.section {
  margin-bottom: 40px;
}
p.shub{
  padding-left:0px;
}

h2 {
  font-family: "DynaPuff", serif;
  font-size: 3.5em;
  color: #000;
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 15%;
}

.paragraph {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-left:-90px;
}

.icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

p {
  font-size: 2.0em;
  line-height: 1.6;
  color: #333;
  margin: 0;
}


/* packages and additional options */

.abc {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  background-color: #ffffff;
  padding:5% 10% 5% 10%;
}

.abc h1 {
  font-size: 3.5em;
  font-family: "DynaPuff", serif;
  margin-top:0px;
  margin-left:20px;
}

.abc .two_paws  img{
  display: flex;
  margin-left: 40px;
  width:60px;
  padding-top:40px;
}

.abc .logo img {
  width: 100px;
  height: auto;
}

.services-container {
  display: flex;
  background: #ffffff;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 40px;
}

.service-card {
  width: 250px;
  text-align: center;
  position: relative;
  padding-top: 30px;
}

.service-image-container {
  width: 220px;
  height: 180px;
  border-radius: 50%;
  border: 4px solid #8e44ad;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  z-index: 2;
  background-color: white;
}

.service-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-dot {
  width: 60px;
  height: 40px;
  background-color: #8e44ad;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: -10px;
  z-index: 1;
  transform: rotate(-25deg);
}

.service-title {
  color: #8e44ad;
  font-size: 1.1em;
  margin-bottom: 15px;
  font-weight: bold;
  min-height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-description {
  background-color: white;
  
  border-radius: 60px;
  border: 2.5px solid rgb(126, 7, 145);
  box-shadow: 0 4px 5px rgba(234, 5, 154, 0.1);
  width: 250px;
  height: 620px;
  display: flex;
  flex-direction: column;
  margin-top: -100px;
  padding-top: 120px;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}

.service-text {
  font-size: 1.4em;
  line-height: 1.4;
  color: #333;
}


/* Tablets (768px and below) */
@media (max-width: 768px) {
  .abc {
    padding: 20px;
  }
  .abc h1 {
    font-size: 2.0em;
    padding:0px 0px 0px 20px;
  }
  .services-container {
    align-items: center;
  }
  .service-card {
    
    text-align: center;
    position: relative;
    padding-top: 30px;
  }
  .service-dot{
    left:0px;
  }
  .service-image-container {
    width: 150px;
    height: 150px;
  }
  .service-description {
   
    height: 350px;
    padding-top: 80px;
    margin-top: -80px;
  }
  .service-title {
    font-size: 1.2em;
  }
  .service-text {
    font-size: 1.0em;
    padding:0px 4px 20px 4px;
  }
}

/* Small Devices (480px and below) */
@media (max-width: 480px) {
  .service-dot{
    left:0px;
  }
  .abc {
    padding: 10px;
  }
  .abc h1 {
    font-size: 2em;
    margin-top:0%;
    padding:0px 0px 0px 0px;
    margin-left:0px;
  }
  .services-container {
    gap: 10px;
  }
  .service-card {
    
  }
  .service-image-container {
    width: 120px;
    height: 120px;
  }

  .service-text {
    font-size: 1em;
    line-height: 1.3;
  }
}

 /* Footer */
 .pih-footer-container {
  position: relative;
  width: 100%;
  background: linear-gradient(
    to bottom,
    #f4fbfb 0%,
    #f4fbfb 75%,
    #9353a1 75%,
    #9353a1 100%
  );
  min-height: 300px;
  padding: 20px;
  box-sizing: border-box;
  padding-right: 0px;
}

.pih-content-wrapper {
  margin: 0 auto;
  position: relative;
  margin-bottom: 200px;
  margin-left: 10%;
}

.pih-logo-section {
  margin-bottom: 20px;

}

.pih-logo {
  width: 300px;
  height: auto;
}
.pet {
   width:50%;
   text-align:right;
   margin-bottom: -90px;
}

.pih-contact-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #333;
  width:50%;
}

.pih-contact-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-size: 25px;
  line-height: 1.5;
}

.pih-contact-icon {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  margin-top: 3px;
}

.pih-pets-image {
 
  /* width: 600px; */
  height: auto;
  top: 150px;
  width: 100%;
}

.pih-copyright {
  position: absolute;
  bottom: -166px;
  right: 10%;
  color: white;
  font-size: 25px;
}
@media (max-width:900px){
  .pih-pets-image {
    margin-top: 30%;
  }
}

@media (max-width: 768px) {
  .pih-content-wrapper {
    margin-bottom: 150px;
  }
  .pih-logo {
    width: 200px;
    height: auto;
  }
  .pih-contact-item{
    font-size:15px;
  }
  .pih-contact-info {
    
    display: flex;
  }
  .pih-pets-image {
    margin-top:15%;
  }
  .pih-copyright {
    padding-bottom:20px;
    margin-top: 20px;
    text-align: center;
  }
}
@media (max-width:660px){
  .pih-pets-image {
    margin-top:50%;
  }
}

@media (max-width: 480px) {
 
  .pih-logo {
    width: 150px;
  }
  .pih-contact-item {
    font-size: 12px;
    gap: 8px;
  }
  .pih-contact-icon {
    width: 20px;
    height: 20px;
  }
  .pih-copyright {
   font-size:15px;
  }
}
@media (max-width: 350px) {
  .pih-pets-image {
    margin-top: 75%;
  }
}

@media (max-width:480px){
  .aquamation{
    padding:0px 0px 0px 0px;
  }
  .paragraph {
    margin:0px;
  }
 
  .content{
    margin-left:0px;
  }
  .aquamation .section {
    margin-left:10px;
  }
  p {
    padding: 0px 0px 0px 0px;
  }
  h2{
    text-align: center;
  }
  h1{
    text-align: center;
  }
  
}

/* Style the Scroll to Top button */
#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #9950b0;
  color: white;
  border: 2px solid #880fac;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#scrollToTopBtn:hover {
  background-color: #c609b0;
}

#scrollToTopBtn i {
  font-size: 24px;
  font-weight: bold;
}


.contact-btnnew {
  display: inline-block;
  background-color: #9950b0;
  color: white;
  padding: 12px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.contact-btnnew:hover {
  color:#fffeff;
  background-color: #6c1280;
}

@media (max-width: 768px) {
  .contact-btnnew {
    font-size: 14px;
    padding: 6px 8px;
    margin-left: 25px;
  }
  #scrollToTopBtn{
    width: 30px;
    height: 30px;
    font-size: 15px;
  } 
  #scrollToTopBtn i {
    font-size: 15px;
    font-weight: bold;
  }
}
@media (max-width: 480px) {
  .contact-btnnew {
    font-size: 9px;
    padding: 6px 8px;
    margin-left: 20px;
  }
  #scrollToTopBtn{
    width: 30px;
    height: 30px;
    font-size: 15px;
  } 
  #scrollToTopBtn i {
    font-size: 15px;
    font-weight: bold;
  }
}